<div class="w3-card-4">
<div class="w3-container w3-green">
  <h4>Search HH Life</h4>
</div>
<div >
        <div class="w3-container">
          <p>
            <label class="w3-label">Using Health Condition</label>  
            <input type="text" class="w3-input" id="searchByHC" ng-model="searchStr">
          </p>
            <button class="w3-btn w3-round-large w3-teal" style="height:30px;width:80px" ng-click="search(searchStr)">Search</button>
          <p>
            <label class="w3-label">Using Matching words</label>  
            <input type="text" class="w3-input" id="searchByWords" ng-model="searchStrWord">
          </p>  
            <button class="w3-btn w3-round-large w3-teal" style="height:30px;width:80px" ng-click="search(searchStrWord)">Search</button>
           <!-- 
          <p>
            <label class="w3-label">Include</label>
            <ul>  
            <input type="text" class="w3-input" id="searchInput" ng-model="searchStr">
            </ul>
          </p> 
  <button class="w3-btn w3-round-large w3-teal" style="height:30px;width:80px" ng-click="search(searchStr)">Search</button>
-->
              
            
        </div>    
</div>    
    
    