<div ng-app="appProgram">
    
    <div class="w3-container w3-green" ng-controller="programController">
      <h3>Programs</h3>
    </div>
    <nav class="w3-sidenav w3-collapse w3-teal" style="width:11%">
      <h4>Search</h4>
      <B>
      <div class="w3-dropdown-hover w3-sand dropdowncustom">
          <a class="w3-border" href="#">By Age Group<i class="fa fa-caret-down"></i></a>
            <div class="w3-dropdown-content w3-khaki w3-card-4">
              <a href="#">All</a>    
              <a href="#">Age 19-25</a>
              <a href="#">Age 26-32</a>
              <a href="#">Age 33-38</a>
              <a href="#">Age 39-45</a>
              <a href="#">Age 46-55</a>
              <a href="#">Age 55-65</a>
              <a href="#">Age 65-72</a>                
            </div>
          </div>
          <div class="w3-dropdown-hover w3-sand dropdowncustom">
          <a class="w3-border" href="#">By Health Condition<i class="fa fa-caret-down"></i></a>
            <div class="w3-dropdown-content w3-khaki w3-card-4">
              <a href="#">Diabetes</a>
              <a href="#">ADHD</a>
                  
            </div>
          </div>
      </B>
      <h4>Sort</h4>
      <B>
          <a class="w3-sand w3-border" href="#">Highly Rated</a> 
          <a class="w3-sand w3-border" href="#">Highly Subscribed</a> 
      </B>
    </nav>

    <div style="margin-left:20%"  ng-repeat="(programIndex, h) in programList">
        <div class="w3-container w3-sand w3-card-4">
            <ul>
                <li class="crop">
                    <img src="{{h.picture}}"/>
                </li>
                <li>
                    <label class="w3-label w3-text-black"><B>Title: </B>{{h.name}}</label>  
                  </li>    
                  <li>
                      <label class="w3-label w3-text-black"><B>Introduction: </B>{{h.short_desc}}</label>  
                  </li>
                  <li>
                    <label class="w3-label w3-text-black"><B>Description: </B>{{h.text}}</label>  
                  </li>
            </ul>
                <br/>
            <form name="program" ng-submit="subscribeToProgram(h)">
                <div class="form-group">
<!--
                    <div>
                        <label class="w3-label w3-text-black"><B>Nick Name</B></label>  
                        <input type="text" class="w3-input" id="name" ng-model="newProgramDetails.nick_name" maxlength="50">
                      </div>
    -->                
                  <button type="submit" class="w3-btn w3-round w3-hover-purple"><B>Subscribe</B></button>
                  <button type="button" class="w3-btn w3-round w3-hover-purple" onclick=""><B>Recommend</B></button>
                  <button type="button" class="w3-btn w3-round w3-hover-purple" ng-click="showProgramReviews(programIndex, h)" ><B>Show Reviews</B></button>
                  <button type="button" class="w3-btn w3-round w3-hover-purple" ng-click="showTabDialog($event, h)"><B>Details</B></button>
                </div>
            </form><br/>

                
                <div ng-repeat="r in programReviewList" ng-show="isShowing(programIndex)">
                    <h5>Review</h5>
                    <div class="w3-container w3-bordered w3-striped w3-border w3-card-4" >
                        
                        <ul>
                              <li>
                                <label class="w3-label w3-text-black"><B>Name: </B>{{r.user_id}} {{r.active}}</label>  
                              </li>    
                              <li>
                                  <label class="w3-label w3-text-black"><B>Rating: </B>{{r.rating}} {{r.active}}</label>  
                              </li>
                              <li>
                                <label class="w3-label w3-text-black"><B>Comments: </B>{{r.comments}} {{r.active}}</label>  
                              </li>
                        </ul>                
                    </div>    
                </div>
            <br/>
                     
        </div>
    </div>
    
</div>