<div ng-app="appHabit">
<div class="w3-container w3-green" ng-controller="habitController">
  <h4>Habits</h4>
</div>
<!--
<div class="habitlistform">
    <div class="w3-container w3-card-4">
    <form name="habitlist" ng-submit="subscribeToHabit()">
        <div class="form-group">

          <div>
            <label class="w3-label w3-text-black"><B>Title</B></label>  

          </div>    
          <div>
              <label class="w3-label w3-text-black"><B>Image</B></label>  
          </div>
          <div>
            <label class="w3-label w3-text-black"><B>Description</B></label>  
          </div>
          <div>
            <label class="w3-label w3-text-black"><B>Email Address</B></label>  
            <input type="text" class="w3-input w3-validate" id="email" ng-model="userProfile.email">
          </div>
          <div>
            <label class="w3-label w3-text-black"><B>Date Of Birth</B></label>  
            <input type="date" class="w3-input w3-validate" id="dateofbirth" ng-model="userProfile.date_of_birth">
          </div>
            <br/>
        <button type="submit" class="w3-btn"><B>Subscribe</B></button>
        </div>
    </form>       
    </div>
    
    
</div>
-->    
</div>