<div ng-app="appHabit">
    
    <div class="w3-container w3-green" ng-controller="habitController">
      <h4>Habits</h4>
    </div>

    <div ng-repeat="(habitIndex, h) in habitList">
        <div class="w3-container w3-card-4">
            <ul>
                  <li>
                    <label class="w3-label w3-text-black"><B>Title: </B>{{h.name}}</label>  
                  </li>    
                  <li>
                      <label class="w3-label w3-text-black"><B>Introduction: </B>{{h.short_desc}}</label>  
                  </li>
                  <li>
                    <label class="w3-label w3-text-black"><B>Description: </B>{{h.text}}</label>  
                  </li>
            </ul>
                <br/>
            <form name="habit" ng-submit="subscribeToHabit(h)">
                <div class="form-group">          
                  <button type="submit" class="w3-btn"><B>Subscribe</B></button>
                  <button type="button" class="w3-btn" ng-click="recommendHabit(h)"><B>Recommend</B></button>
                  <button ng-click="showHabitReviews(habitIndex, h)" class="w3-btn"><B>Show Reviews</B></button> 
                </div>
            </form>
            <br/>
                <div ng-repeat="r in habitReviewList" ng-show="isShowing(habitIndex)">
                    <h5>Review</h5>
                    <div class="w3-container w3-bordered w3-striped w3-border w3-card-4" >
                        
                        <ul>
                              <li>
                                <label class="w3-label w3-text-black"><B>Name: </B>{{r.user_id}} {{r.active}}</label>  
                              </li>    
                              <li>
                                  <label class="w3-label w3-text-black"><B>Rating: </B>{{r.rating}} {{r.active}}</label>  
                              </li>
                              <li>
                                <label class="w3-label w3-text-black"><B>Comments: </B>{{r.comments}} {{r.active}}</label>  
                              </li>
                        </ul>                
                    </div>    
                </div>   
        </div>
    </div>
    
</div>

