<div ng-app="appProfile">
<div class="w3-container w3-green" ng-controller="profileController">
  <h4>User Profile</h4>
</div>
<div class="userinputform">
    <div class="w3-container w3-card-4">
    <form name="userProfileForm" ng-submit="updateUserProfile()">
        <div class="form-group">

          <div>
            <label class="w3-label w3-text-black"><B>Title</B></label>  
            <input type="text" class="w3-input" id="title" ng-model="userProfile.title">
          </div>    
          <div>
              <label class="w3-label w3-text-black"><B>First Name</B></label>  
            <input type="text" class="w3-input" id="firstname" ng-model="userProfile.first_name">
          </div>
          <div>
            <label class="w3-label w3-text-black"><B>Last Name</B></label>  
            <input type="text" class="w3-input" id="lastname" ng-model="userProfile.last_name">
          </div>
          <div>
            <label class="w3-label w3-text-black"><B>Email Address</B></label>  
            <input type="text" class="w3-input w3-validate" id="email" ng-model="userProfile.email">
          </div>
          <div>
            <label class="w3-label w3-text-black"><B>Date Of Birth</B></label><br/>  
            <input type="date" class="w3-date w3-validate" id="dateofbirth" ng-model="userProfile.date_of_birth">
          </div>
            <br/>
        <button type="submit" class="w3-btn">Update Profile</button>
        </div>
    </form>       
    </div>
    
    
</div>
    
    <br/>
    
<div class="w3-container w3-green" ng-controller="profileController">
  <h4>Administer Circles</h4>
</div>    
<br/>  
<Button ng-model="showNewCircleForm" ng-click="showCircleCreateForm()" class="w3-btn">Create New Circle</Button><br/>
<br/>
        <div class="w3-container w3-bordered w3-striped w3-border w3-card-4" ng-show="showNewCircleForm">
            <form name="createCircleForm" ng-submit="createCircle()">
                <div class="form-group">   
                      <div>
                        <label class="w3-label w3-text-black"><B>Name</B></label>  
                        <input type="text" class="w3-input" id="name" ng-model="newCircleDetails.name" maxlength="50">
                      </div>
                      <div>
                        <label class="w3-label w3-text-black"><B>Description</B></label>  
                        <input type="text" class="w3-input" id="desc" ng-model="newCircleDetails.description" maxlength="50">
                      </div>
                      <div>
                        <label class="w3-label w3-text-black"><B>Members can refer</B></label>  
                        <select class="form-control" id="canRefer" ng-model="newCircleDetails.members_can_refer">
                            <option value="true" selected>Yes</option>
                            <option value="false">No</option>
                        </select>    
                      </div>
                      <div>
                        <label class="w3-label w3-text-black"><B>Maximum Number of Members</B></label>  
                        <input type="number" class="w3-input" id="maxMembers" ng-model="newCircleDetails.max_number_members" maxlength="50">
                      </div>                    
                    <br/>
                <button type="submit" class="w3-btn"><B>Submit</B></button>
                </div>            
            
        </form>
        
        </div>    
<br/>    
<div class="circlelistform">    
    <div class="w3-container">
        <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable w3-card-4">
            <tr class="w3-blue"><th>Name</th><th>Status</th><th>Members Can Refer</th><th>Max. Members Allowed</th><th>Action</th></tr>
            <tr ng-repeat="c in circleList">
                <td>{{c.name}}</td>
                <td>{{c.status}}</td>
                <td>{{c.members_can_refer}}</td>
                <td>{{c.max_number_members}}</td>
                <td>
                    <button class="w3-btn" ng-click="updateCircle(c)">Update</button>
                    <button class="w3-btn" ng-model="showCircleMemberForm" ng-click="showCircleMembers(c)">Manage Members</button>
                    <button class="w3-btn" ng-click="deleteCircle(c)">Delete</button>
                </td>
            </tr>
        
        </table>
    </div>
</div>
    <br/>
  




    <div class="w3-container" ng-show="showCircleMemberForm">
        
        <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable w3-card-4">
            <tr class="w3-blue"><th>Email</th><th>FirstName</th><th>LastName</th><th>Role</th><th>Status</th><th>Action</th></tr>
            <tr ng-repeat="m in circleMemberList">
                <td>{{m.email}}</td>
                <td>{{m.first_name}}</td>
                <td>{{m.last_name}}</td>
                <td>{{m.role}}</td>
                <td>{{m.status}}</td>
                <td>
                    <button class="w3-btn">Update</button>
                    <button class="w3-btn" ng-click="deleteCircleMember(m)">Delete</button>
                </td>
            </tr>
        
        </table>
        <br/>
        
        
    </div>

     