<div class="container">
<div ng-app="appLanding">
<div ng-controller="landingController">
    
        <div class="slider">
            <img width="1200px" height="800px" ng-repeat="slide in slides" class="slide slide-animation"
                ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

            <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
            <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                <nav class="nav">
                    <div class="wrapper">
                        <ul class="dots">
                            <li class="dot" ng-repeat="slide in slides">
                                <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                                  ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
                        </ul>
                    </div>
                </nav>
        </div>
        
        <div layout="row"ng-cloak layout-fill >

          <section layout="column" flex layout-padding layout-margin >
            <div class="block1"><B>Habit of Running:</B> The benefits of regular exercise are by now well known and well documented, and running for 30-40 minutes three times a week can be a fantastic way to build stamina and muscle while losing fat.[1] That all sounds great, but how do you get started if you’re new to running? Read on to find out.</div>
            <div class="block2"><B>Photography as Hobby:</B> This article will guide you and prepare you for photography because Photography has and will change, but only in technology. The beauty, concept, subjects, effects and most important, attitude are still the same.</div>
              <div class="block3"><B>Fitness Routine:</B>Adding fitness and exercise into your daily routine is an ideal way to benefit your health, especially after you have made fitness a consistent habit. When your life is busy enough as it is, and you already have a daily routine in place, the act of adding fitness into your life may seem complex. However, with the proper goals and mindset, you can take steps to make fitness a daily routine. Continue reading this article to learn about the many ways you can add exercise into your life and stay consistent with your fitness.</div>
          </section>

          <section layout="column" flex layout-padding layout-margin >
            <div class="block4"><B>Biggest Looser Challenge:</B> Research shows that organized weight loss groups have a higher rate of success than individuals when attempting to lose weight do.</div>
            <div class="block5"><B>Treating ADHD</B>There is no cure for attention deficit hyperactivity disorder (ADHD), but treatment can help relieve the symptoms and make the condition much less of a problem in day-to-day life. ADHD can be treated using medication or therapy, but a combination of both is often the best way to treat it. Treatment will usually be arranged by a specialist, such as a paediatrician or psychiatrist, although your condition may be monitored by your GP. </div>
            <div class="block6"><B>Kundalika River Marathon:</B> Kundalika is a beautiful river originating in the Western Ghats of Maharashtra and ending into the Arabian Sea near the creek at Roha. The river flows through thick forests and rice fields of a region of what was earlier the princely state of Bhor. Kundalika River/Kolad is 110 km from Mumbai and 100 km from Pune on the Mumbai-Pavel-Goa highway. This place is renowned for being the adventure hub and White Water Rafting on Kundalika River. It is Summer let us do a Saturday evening Run!
</div>
          </section>

          <section layout="column" flex layout-padding layout-margin >
            <div class="block7">Fasting-Glucose Test: The fasting blood glucose test is the test most commonly used to diagnose diabetes. It measures blood glucose levels after a period of fasting, usually at least eight hours without food or liquid (except water). This test is more definitive than a random test, because there is no chance that it has been influenced by recent food intake.</div>
            <div class="block8"><B>Fighting Diabetes:</B> Every time you roll your shopping cart into the supermarket, you’re making a decision that goes far beyond whether you’re going to have pork or pierogies for dinner. You’re actually choosing between being a victim and a victor. What you put in your cart goes a long way toward determining whether you’ll be compromised by diabetes or start controlling and eventually even beating it.</div>
            <div class="block8"><B>Annual Physical Exam:</B>The physical exam is an essential part of any doctor's visit. Surprisingly, though, there are no absolutes in a routine physical. A good doctor may be thorough or brief, but he or she will spend time listening to your concerns and providing counseling for your particular needs.</div>
          </section>

        </div>

       
</div>
</div>
</div>
